<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret pass</title>
</head>
<body>
    <form action="/logout" method="post" enctype="application/x-www-form-urlencoded">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nesciunt non ea, quibusdam id dolorem, minus dolorum rem harum, doloribus architecto magnam. Distinctio libero itaque alias sed ex, corporis dignissimos.</p>
        <button type="submit">Logout</button>
    </form>

    
</body>
</html>